In [1]:
# Import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import os
import seaborn as sns
from scipy import stats
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.linear_model import ElasticNet, Lasso, Ridge
from sklearn.model_selection import KFold, cross_val_score

In [2]:
def process_folder(folder_path):
    # Get all CSV files in the folder
    csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]
    
    if not csv_files:
        print(f"No CSV files found in {folder_path}")
        return None

    # Initialize an empty list to store DataFrames
    dataframes = []

    # Read the first CSV file to get the column headers
    initial_df = pd.read_csv(os.path.join(folder_path, csv_files[0]))
    correct_columns = initial_df.columns

    # Process the first file
    dataframes.append(initial_df)
    print(f"Read {csv_files[0]} successfully with {len(initial_df)} rows.")

    # Loop through the remaining files
    for file in csv_files[1:]:
        try:
            # Read the current CSV file into a DataFrame
            df = pd.read_csv(os.path.join(folder_path, file))
            
            # Check if the number of columns matches
            if len(df.columns) != len(correct_columns):
                print(f"Warning: {file} has {len(df.columns)} columns instead of {len(correct_columns)}.")
                print(f"Columns in {file}: {df.columns.tolist()}")
                print(f"Expected columns: {correct_columns.tolist()}")
                continue  # Skip this file and move to the next one
            
            # Rename columns to match the correct columns
            df.columns = correct_columns
            
            print(f"Read {file} successfully with {len(df)} rows.")
            
            # Drop rows where all cells are blank
            df.dropna(how='all', inplace=True)
            
            # Append the DataFrame to the list
            dataframes.append(df)
            
        except Exception as e:
            print(f"Failed to read {file}: {e}")

    # Check if there are any DataFrames to concatenate
    if dataframes:
        # Concatenate all DataFrames in the list into a single DataFrame
        folder_df = pd.concat(dataframes, ignore_index=True)
        
        print(f"Columns in the concatenated DataFrame: {folder_df.columns.tolist()}")
        
        # Check if 'learner_id' column exists
        if 'learner_id' not in folder_df.columns:
            print("Error: 'learner_id' column not found in the DataFrame.")
            print("Available columns:", folder_df.columns.tolist())
            return None
        
        # Process the learner_id column
        folder_df['team'] = pd.to_numeric(folder_df['learner_id'].str[:2], errors='coerce').astype('Int64')
        folder_df['section'] = folder_df['learner_id'].str[-1]
        
        # Check if 'last_name' and 'first_name' columns exist
        if 'last_name' in folder_df.columns and 'first_name' in folder_df.columns:
            # Create a base for the unique identifier
            folder_df['base_id'] = (folder_df['last_name'].str[0].fillna('') + 
                                    folder_df['first_name'].str[0].fillna('') + 
                                    folder_df['learner_id'].fillna(''))
        else:
            print("Warning: 'last_name' or 'first_name' columns not found. Using only 'learner_id' for base_id.")
            folder_df['base_id'] = folder_df['learner_id'].fillna('')
        
        # Function to create a truly unique identifier
        def create_unique_id(group):
            if len(group) == 1:
                return group['base_id']
            else:
                return group['base_id'] + '_' + (group.groupby('base_id').cumcount() + 1).astype(str)
        
        # Apply the function to create unique identifiers
        folder_df['unique_id'] = folder_df.groupby('base_id', group_keys=False).apply(create_unique_id)
        
        # Reorder columns to move unique_id to the leftmost position
        columns = folder_df.columns.tolist()
        columns.remove('unique_id')
        columns = ['unique_id'] + columns
        folder_df = folder_df[columns]
        
        return folder_df
    else:
        print(f"No dataframes to concatenate in {folder_path}.")
        return None

In [3]:
# Main script
data_root = 'data'  # Adjust this to your data root directory
output_dir = 'cleaned_data'  # Directory to save output files

# Ensure output directory exists
os.makedirs(output_dir, exist_ok=True)

# Expected folder names
expected_folders = [
    'C100', 'C200', 'C300', 'C400', 'C500', 
    'F100', 'S100', 'H100', 'H400', 'L100', 'L400', 
    'M000', 'M100', 'M200', 'M300', 'M400'
]

# Get all subdirectories in the data root
data_folders = [f.path for f in os.scandir(data_root) if f.is_dir()]

print(f"Total folders found: {len(data_folders)}")
print("Folders to be processed:")
for folder in data_folders:
    print(f"- {folder}")

# Process each folder
processed_folders = 0
processed_folder_names = []

for folder in data_folders:
    folder_name = os.path.basename(folder)
    if folder_name not in expected_folders:
        print(f"\nSkipping unexpected folder: {folder}")
        continue

    print(f"\nProcessing folder: {folder}")
    result_df = process_folder(folder)
    
    if result_df is not None:
        # Save the compiled DataFrame
        output_file = os.path.join(output_dir, f'{folder_name}_compiled_dataframe.csv')
        result_df.to_csv(output_file, index=False)
        print(f"Data compiled and saved successfully to {output_file}")
        print(f"Total rows in compiled dataframe: {len(result_df)}")
        
        # Print summary statistics
        print("\nSummary of rows per section:")
        print(result_df['section'].value_counts().sort_index())
        
        # Display the first few rows to verify the new column order
        print("\nSample data with reordered columns:")
        print(result_df.head(10))

        processed_folders += 1
        processed_folder_names.append(folder_name)
    else:
        print(f"No data processed for {folder}")

print(f"\nTotal folders processed: {processed_folders}")
print(f"Expected folders: {len(expected_folders)}")
print(f"Missing folders: {len(expected_folders) - processed_folders}")

print("\nProcessed folders:")
for folder in processed_folder_names:
    print(f"- {folder}")

print("\nMissing folders:")
for folder in expected_folders:
    if folder not in processed_folder_names:
        print(f"- {folder}")

print("\nAll available folders processed.")

# Check the contents of the cleaned_data folder
print("\nContents of the cleaned_data folder:")
for file in os.listdir(output_dir):
    print(f"- {file}")

Total folders found: 17
Folders to be processed:
- data\C100
- data\C200
- data\C300
- data\C400
- data\C500
- data\F100
- data\H100
- data\H400
- data\L100
- data\L400
- data\M000
- data\M100
- data\M200
- data\M300
- data\M400
- data\S100
- data\X100

Processing folder: data\C100
Read C100_SEC01.csv successfully with 59 rows.
Read C100_SEC02.csv successfully with 59 rows.
Read C100_SEC04.csv successfully with 59 rows.
Read C100_SEC05.csv successfully with 59 rows.
Read C100_SEC06.csv successfully with 60 rows.
Read C100_SEC07.csv successfully with 58 rows.
Read C100_SEC08.csv successfully with 59 rows.
Read C100_SEC09.csv successfully with 59 rows.
Read C100_SEC10.csv successfully with 58 rows.
Read C100_SEC11.csv successfully with 59 rows.
Read C100_SEC12.csv successfully with 58 rows.
Read C100_SEC13.csv successfully with 59 rows.
Read C100_SEC14.csv successfully with 59 rows.
Read C100_SEC15.csv successfully with 60 rows.
Read C100_SEC16.csv successfully with 59 rows.
Read C100_SEC17.csv successfully with 59 rows.
Read C100_SEC18.csv successfully with 59 rows.
Read C100_SEC19.csv successfully with 59 rows.
Columns in the concatenated DataFrame: ['last_name', 'first_name', 'Username', 'learner_id', 'last_access', 'availibility', 'Total', 'C100_Final', 'C100_ IDP', 'C170_Essay', 'C172_brief', 'C400_diag_exam', 'F100_pretest_us', 'F100_pretest_ims', 'S100_pretest']
Data compiled and saved successfully to cleaned_data\C100_compiled_dataframe.csv
Total rows in compiled dataframe: 1061

Summary of rows per section:
section
A    282
B    259
C    264
D    256
Name: count, dtype: int64

Sample data with reordered columns:
  unique_id     last_name                first_name               Username  \
0     AM01C        ACOSTA                  MITCHELL         mitch.f.acosta
1     AJ01A         ALLEN                    JUSTIN       justin.lee.allen
2     AK01A       ALLISON                     KEVIN        kevin.e.allison
3     AA01D     ALSUWAIDI  AHMED SAIF ABDULLA AHMED   alsuwaidi@hotmail.fr
4     AA01C      ANDERSON                      ALEX        alex.r.anderson
5     AA01B      ANDERSON                   ANTHONY    anthony.s.anderson2
6     AR01D      ANDERSON                    ROBERT  robert.edwin.anderson
7   AS01C_1      ANDERSON                    STACEY      stacey.c.anderson
8     AS01B      ANDERSON                   STEPHEN      stephen.anderson8
9     AJ01C  ANDRADE LAZO              JOSE ARMANDO    joseaal@hotmail.com

  learner_id      last_access availibility      Total C100_Final C100_ IDP  \
0        01C    4/1/2024 4:33          Yes  433.71936       Pass      Pass
1        01A  4/28/2024 18:40          Yes  463.84315       Pass      Pass
2        01A  1/11/2024 13:42          Yes  453.84315       Pass      Pass
3        01D    5/1/2024 8:25          Yes  473.13073       Pass      Pass
4        01C    1/4/2024 7:39          Yes  444.98694       Pass      Pass
5        01B   2/26/2024 9:47          Yes  492.55557       Pass      Pass
6        01D  5/28/2024 13:14          Yes  433.97694       Pass      Pass
7        01C  5/27/2024 19:54          Yes   420.8121       Pass      Pass
8        01B  1/25/2024 12:22          Yes  446.98694       Pass      Pass
9        01C   6/6/2024 19:55          Yes  436.48936       Pass      Pass

  C170_Essay C172_brief  C400_diag_exam F100_pretest_us F100_pretest_ims  \
0       Pass       Pass            58.0            Fail              NaN
1       Pass       Pass            80.0            Fail              NaN
2       Pass       Pass            58.0            Fail              NaN
3       Pass       Pass            72.0             NaN             Fail
4       Pass       Pass            60.0            Fail              NaN
5       Pass       Pass            76.0            Fail              NaN
6       Pass       Pass            50.0            Fail              NaN
7       Pass       Pass            62.0             NaN             Fail
8       Pass       Pass            64.0            Fail              NaN
9       Pass       Pass            48.0             NaN             Fail

  S100_pretest  team section base_id
0         Fail     1       C   AM01C
1         Fail     1       A   AJ01A
2         Fail     1       A   AK01A
3         Fail     1       D   AA01D
4         Fail     1       C   AA01C
5         Fail     1       B   AA01B
6         Fail     1       D   AR01D
7         Fail     1       C   AS01C
8         Fail     1       B   AS01B
9         Fail     1       C   AJ01C

Processing folder: data\C200
Read C200_SEC01.csv successfully with 59 rows.
Read C200_SEC02.csv successfully with 59 rows.
Read C200_SEC04.csv successfully with 59 rows.
Read C200_SEC05.csv successfully with 59 rows.
Read C200_SEC06.csv successfully with 60 rows.
Read C200_SEC07.csv successfully with 58 rows.
Read C200_SEC08.csv successfully with 59 rows.
Read C200_SEC09.csv successfully with 59 rows.
Read C200_SEC10.csv successfully with 58 rows.
Read C200_SEC11.csv successfully with 59 rows.
Read C200_SEC12.csv successfully with 58 rows.
Read C200_SEC13.csv successfully with 59 rows.
Read C200_SEC14.csv successfully with 59 rows.
Read C200_SEC15.csv successfully with 60 rows.
Read C200_SEC16.csv successfully with 59 rows.
Read C200_SEC17.csv successfully with 59 rows.
Read C200_SEC18.csv successfully with 59 rows.
Read C200_SEC19.csv successfully with 59 rows.
Columns in the concatenated DataFrame: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'c200_wt_ttl', 'c200_ttl', 'c200_ctgl_299', 'c200_ctgl_200', 'c200_essay', 'c200_test_us', 'c200_test_ims']
Data compiled and saved successfully to cleaned_data\C200_compiled_dataframe.csv
Total rows in compiled dataframe: 1061

Summary of rows per section:
section
A    281
B    259
C    264
D    257
Name: count, dtype: int64

Sample data with reordered columns:
  unique_id     last_name                first_name               username  \
0     AM01C        ACOSTA                  MITCHELL         mitch.f.acosta
1     AJ01A         ALLEN                    JUSTIN       justin.lee.allen
2     AK01A       ALLISON                     KEVIN        kevin.e.allison
3     AA01D     ALSUWAIDI  AHMED SAIF ABDULLA AHMED   alsuwaidi@hotmail.fr
4     AA01C      ANDERSON                      ALEX        alex.r.anderson
5     AA01B      ANDERSON                   ANTHONY    anthony.s.anderson2
6     AR01D      ANDERSON                    ROBERT  robert.edwin.anderson
7   AS01C_1      ANDERSON                    STACEY      stacey.c.anderson
8     AS01B      ANDERSON                   STEPHEN      stephen.anderson8
9     AJ01C  ANDRADE LAZO              JOSE ARMANDO    joseaal@hotmail.com

  learner_id       last_access availability  c200_wt_ttl   c200_ttl  \
0        01C     2/9/2024 9:33          Yes     95.38322  374.34050
1        01A   1/20/2024 12:04          Yes     93.45000  375.00000
2        01A  11/12/2023 16:31          Yes     92.15000  370.00000
3        01D   2/12/2024 10:01          Yes     92.01205  366.29008
4        01C    2/28/2024 7:46          Yes     94.30665  375.58875
5        01B    2/26/2024 9:48          Yes     94.30000  383.00000
6        01D   2/26/2024 18:12          Yes     83.64869  339.99564
7        01C   2/15/2024 13:49          Yes     94.33679  376.99358
8        01B  11/13/2023 11:11          Yes     90.50000  364.00000
9        01C    2/13/2024 9:34          Yes     88.30707  364.69100

   c200_ctgl_299  c200_ctgl_200 c200_essay  c200_test_us  c200_test_ims  team  \
0        92.3940       90.99750     98.949          92.0            NaN     1
1        93.0000       90.00000       92.0         100.0            NaN     1
2        93.0000       90.00000       91.0          96.0            NaN     1
3        87.0000       91.09425   92.19583           NaN           96.0     1
4        90.9975       90.39600   94.19525         100.0            NaN     1
5        96.0000       96.00000       91.0         100.0            NaN     1
6        94.0000       90.99750   82.99814          72.0            NaN     1
7        97.5000       96.10000   95.39358          88.0            NaN     1
8        92.0000       94.00000       90.0          88.0            NaN     1
9        92.9975       93.39800    82.2955           NaN           96.0     1

  section base_id
0       C   AM01C
1       A   AJ01A
2       A   AK01A
3       D   AA01D
4       C   AA01C
5       B   AA01B
6       D   AR01D
7       C   AS01C
8       B   AS01B
9       C   AJ01C

Processing folder: data\C300
Read C300_SEC01.csv successfully with 59 rows.
Read C300_SEC02.csv successfully with 59 rows.
Read C300_SEC04.csv successfully with 59 rows.
Read C300_SEC05.csv successfully with 59 rows.
Read C300_SEC06.csv successfully with 60 rows.

C:\Users\balla\AppData\Local\Temp\ipykernel_16124\2232016110.py:82: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  folder_df['unique_id'] = folder_df.groupby('base_id', group_keys=False).apply(create_unique_id)
C:\Users\balla\AppData\Local\Temp\ipykernel_16124\2232016110.py:82: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  folder_df['unique_id'] = folder_df.groupby('base_id', group_keys=False).apply(create_unique_id)
C:\Users\balla\AppData\Local\Temp\ipykernel_16124\2232016110.py:82: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  folder_df['unique_id'] = folder_df.groupby('base_id', group_keys=False).apply(create_unique_id)
C:\Users\balla\AppData\Local\Temp\ipykernel_16124\2232016110.py:82: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  folder_df['unique_id'] = folder_df.groupby('base_id', group_keys=False).apply(create_unique_id)

Read C300_SEC07.csv successfully with 58 rows.
Read C300_SEC08.csv successfully with 60 rows.
Read C300_SEC09.csv successfully with 59 rows.
Read C300_SEC10.csv successfully with 58 rows.
Read C300_SEC11.csv successfully with 59 rows.
Read C300_SEC12.csv successfully with 58 rows.
Read C300_SEC13.csv successfully with 59 rows.
Read C300_SEC14.csv successfully with 59 rows.
Read C300_SEC15.csv successfully with 60 rows.
Read C300_SEC16.csv successfully with 59 rows.
Read C300_SEC17.csv successfully with 59 rows.
Read C300_SEC18.csv successfully with 59 rows.
Read C300_SEC19.csv successfully with 59 rows.
Columns in the concatenated DataFrame: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'c300_wt_ttl', 'c300_ttl', 'c300_ctgl', 'c300_test_us', 'c300_test_ims', 'c300_test2']
Data compiled and saved successfully to cleaned_data\C300_compiled_dataframe.csv
Total rows in compiled dataframe: 1062

Summary of rows per section:
section
A    282
B    259
C    264
D    256
Name: count, dtype: int64

Sample data with reordered columns:
  unique_id     last_name                first_name               username  \
0     AM01C        ACOSTA                  MITCHELL         mitch.f.acosta
1     AJ01A         ALLEN                    JUSTIN       justin.lee.allen
2     AK01A       ALLISON                     KEVIN        kevin.e.allison
3     AA01D     ALSUWAIDI  AHMED SAIF ABDULLA AHMED   alsuwaidi@hotmail.fr
4     AA01C      ANDERSON                      ALEX        alex.r.anderson
5     AA01B      ANDERSON                   ANTHONY    anthony.s.anderson2
6     AR01D      ANDERSON                    ROBERT  robert.edwin.anderson
7   AS01C_1      ANDERSON                    STACEY      stacey.c.anderson
8     AS01B      ANDERSON                   STEPHEN      stephen.anderson8
9     AJ01C  ANDRADE LAZO              JOSE ARMANDO    joseaal@hotmail.com

  learner_id      last_access availability  c300_wt_ttl   c300_ttl  c300_ctgl  \
0        01C   4/30/2024 9:09          Yes     97.33901  290.59683     93.198
1        01A  5/16/2024 14:42          Yes     97.20000  292.00000     96.000
2        01A  10/18/2023 8:43          Yes     93.60100  281.67000     93.000
3        01D   5/18/2024 8:48          Yes     94.64722  283.63825     92.793
4        01C  4/12/2024 10:24          Yes     96.55813  288.07627     91.600
5        01B   5/24/2024 9:46          Yes     97.80000  292.00000     94.000
6        01D   4/5/2024 13:24          Yes     91.24071  272.82923     92.793
7        01C  5/27/2024 19:54          Yes     96.45940  289.06440     95.796
8        01B  12/27/2023 7:16          Yes     91.10200  275.34000     93.000
9        01C   4/30/2024 7:52          Yes     92.22771  279.75983     94.394

   c300_test_us  c300_test_ims c300_test2  team section base_id
0        100.00            NaN   97.39883     1       C   AM01C
1        100.00            NaN       96.0     1       A   AJ01A
2         96.67            NaN       92.0     1       A   AK01A
3           NaN          96.67   94.17525     1       D   AA01D
4        100.00            NaN   96.47627     1       C   AA01C
5        100.00            NaN       98.0     1       B   AA01B
6         86.68            NaN   93.35623     1       D   AR01D
7         96.67            NaN    96.5984     1       C   AS01C
8         93.34            NaN       89.0     1       B   AS01B
9           NaN          96.67   88.69583     1       C   AJ01C

Processing folder: data\C400
Read C400_SEC01.csv successfully with 59 rows.
Read C400_SEC02.csv successfully with 60 rows.
Read C400_SEC04.csv successfully with 59 rows.
Read C400_SEC05.csv successfully with 59 rows.
Read C400_SEC06.csv successfully with 60 rows.
Read C400_SEC07.csv successfully with 58 rows.
Warning: C400_SEC08.csv has 28 columns instead of 27.
Columns in C400_SEC08.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |418316', 'Total [Total Pts: up to 1,800 Score] |418317', 'C400 Quizzes [Total Pts: up to 100 Score] |418364', 'C400P Contribution to Group Learning (Student Input) [Total Pts: 100 Score] |418391', 'C400B Final Exam (US) [Total Pts: 100 Score] |418395', 'C400B Final Exam (IMS) [Total Pts: 100 Score] |418396', 'C400 Remedial Exam [Total Pts: 0 Score] |418397', 'C401B Quiz (US) [Total Pts: 100 Score] |418398', 'C401B Quiz (IMS) [Total Pts: 100 Score] |418399', 'C402B Quiz (US) [Total Pts: 100 Score] |418400', 'C402B Quiz (IMS) [Total Pts: 100 Score] |418401', 'C403B Quiz (US) [Total Pts: 100 Score] |418402', 'C403B Quiz (IMS) [Total Pts: 100 Score] |418403', 'C404B Quiz (US) [Total Pts: 100 Score] |418404', 'C404B Quiz (IMS) [Total Pts: 100 Score] |418405', 'C405B Quiz (US) [Total Pts: 100 Score] |418406', 'C405B Quiz (IMS) [Total Pts: 100 Score] |418407', 'C406B Quiz (US) [Total Pts: 100 Score] |418408', 'C406B Quiz (IMS) [Total Pts: 100 Score] |418409', 'C407B Quiz (US) [Total Pts: 100 Score] |418410', 'C407B Quiz (IMS) [Total Pts: 100 Score] |418411', 'C408B QUIZ (US) [Total Pts: 100 Score] |420021']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_acces', 'availibilty', 'c400_wt_ttl', 'c400_ttl', 'c400_quiz', 'c400_ctgl', 'c400_test_us', 'c400_test_ims', 'C400 Remedial Exam [Total Pts: 0 Score] |417704', 'c400_quiz_us_1', 'c400_quiz_ims_1', 'c400_quiz_us_2', 'C402B Quiz (IMS) [Total Pts: 100 Score] |417708', 'C403B Quiz (US) [Total Pts: 100 Score] |417709', 'C403B Quiz (IMS) [Total Pts: 100 Score] |417710', 'C404B Quiz (US) [Total Pts: 100 Score] |417711', 'C404B Quiz (IMS) [Total Pts: 100 Score] |417712', 'C405B Quiz (US) [Total Pts: 100 Score] |417713', 'C405B Quiz (IMS) [Total Pts: 100 Score] |417714', 'C406B Quiz (US) [Total Pts: 100 Score] |417715', 'C406B Quiz (IMS) [Total Pts: 100 Score] |417716', 'C407B Quiz (US) [Total Pts: 100 Score] |417717', 'C407B Quiz (IMS) [Total Pts: 100 Score] |417718']
Read C400_SEC09.csv successfully with 59 rows.
Read C400_SEC10.csv successfully with 58 rows.
Read C400_SEC11.csv successfully with 59 rows.
Warning: C400_SEC12.csv has 28 columns instead of 27.
Columns in C400_SEC12.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |418712', 'Total [Total Pts: up to 1,800 Score] |418713', 'C400 Quizzes [Total Pts: up to 100 Score] |418760', 'C400P Contribution to Group Learning (Student Input) [Total Pts: 100 Score] |418787', 'C400B Final Exam (US) [Total Pts: 100 Score] |418791', 'C400B Final Exam (IMS) [Total Pts: 100 Score] |418792', 'C400 Remedial Exam [Total Pts: 0 Score] |418793', 'C401B Quiz (US) [Total Pts: 100 Score] |418794', 'C401B Quiz (IMS) [Total Pts: 100 Score] |418795', 'C402B Quiz (US) [Total Pts: 100 Score] |418796', 'C402B Quiz (IMS) [Total Pts: 100 Score] |418797', 'C403B Quiz (US) [Total Pts: 100 Score] |418798', 'C403B Quiz (IMS) [Total Pts: 100 Score] |418799', 'C404B Quiz (US) [Total Pts: 100 Score] |418800', 'C404B Quiz (IMS) [Total Pts: 100 Score] |418801', 'C405B Quiz (US) [Total Pts: 100 Score] |418802', 'C405B Quiz (IMS) [Total Pts: 100 Score] |418803', 'C406B Quiz (US) [Total Pts: 100 Score] |418804', 'C406B Quiz (IMS) [Total Pts: 100 Score] |418805', 'C407B Quiz (US) [Total Pts: 100 Score] |418806', 'C407B Quiz (IMS) [Total Pts: 100 Score] |418807', 'C408B QUIZ (US) [Total Pts: 100 Score] |420040']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_acces', 'availibilty', 'c400_wt_ttl', 'c400_ttl', 'c400_quiz', 'c400_ctgl', 'c400_test_us', 'c400_test_ims', 'C400 Remedial Exam [Total Pts: 0 Score] |417704', 'c400_quiz_us_1', 'c400_quiz_ims_1', 'c400_quiz_us_2', 'C402B Quiz (IMS) [Total Pts: 100 Score] |417708', 'C403B Quiz (US) [Total Pts: 100 Score] |417709', 'C403B Quiz (IMS) [Total Pts: 100 Score] |417710', 'C404B Quiz (US) [Total Pts: 100 Score] |417711', 'C404B Quiz (IMS) [Total Pts: 100 Score] |417712', 'C405B Quiz (US) [Total Pts: 100 Score] |417713', 'C405B Quiz (IMS) [Total Pts: 100 Score] |417714', 'C406B Quiz (US) [Total Pts: 100 Score] |417715', 'C406B Quiz (IMS) [Total Pts: 100 Score] |417716', 'C407B Quiz (US) [Total Pts: 100 Score] |417717', 'C407B Quiz (IMS) [Total Pts: 100 Score] |417718']
Read C400_SEC13.csv successfully with 59 rows.
Read C400_SEC14.csv successfully with 59 rows.
Read C400_SEC15.csv successfully with 60 rows.
Read C400_SEC16.csv successfully with 59 rows.
Read C400_SEC17.csv successfully with 59 rows.
Read C400_SEC18.csv successfully with 59 rows.
Read C400_SEC19.csv successfully with 59 rows.
Columns in the concatenated DataFrame: ['last_name', 'first_name', 'username', 'learner_id', 'last_acces', 'availibilty', 'c400_wt_ttl', 'c400_ttl', 'c400_quiz', 'c400_ctgl', 'c400_test_us', 'c400_test_ims', 'C400 Remedial Exam [Total Pts: 0 Score] |417704', 'c400_quiz_us_1', 'c400_quiz_ims_1', 'c400_quiz_us_2', 'C402B Quiz (IMS) [Total Pts: 100 Score] |417708', 'C403B Quiz (US) [Total Pts: 100 Score] |417709', 'C403B Quiz (IMS) [Total Pts: 100 Score] |417710', 'C404B Quiz (US) [Total Pts: 100 Score] |417711', 'C404B Quiz (IMS) [Total Pts: 100 Score] |417712', 'C405B Quiz (US) [Total Pts: 100 Score] |417713', 'C405B Quiz (IMS) [Total Pts: 100 Score] |417714', 'C406B Quiz (US) [Total Pts: 100 Score] |417715', 'C406B Quiz (IMS) [Total Pts: 100 Score] |417716', 'C407B Quiz (US) [Total Pts: 100 Score] |417717', 'C407B Quiz (IMS) [Total Pts: 100 Score] |417718']
Data compiled and saved successfully to cleaned_data\C400_compiled_dataframe.csv
Total rows in compiled dataframe: 945

Summary of rows per section:
section
A    252
B    230
C    234
D    228
Name: count, dtype: int64

Sample data with reordered columns:
  unique_id     last_name                first_name               username  \
0     AM01C        ACOSTA                  MITCHELL         mitch.f.acosta
1     AJ01A         ALLEN                    JUSTIN       justin.lee.allen
2     AK01A       ALLISON                     KEVIN        kevin.e.allison
3     AA01D     ALSUWAIDI  AHMED SAIF ABDULLA AHMED   alsuwaidi@hotmail.fr
4     AA01C      ANDERSON                      ALEX        alex.r.anderson
5     AA01B      ANDERSON                   ANTHONY    anthony.s.anderson2
6     AR01D      ANDERSON                    ROBERT  robert.edwin.anderson
7   AS01C_1      ANDERSON                    STACEY      stacey.c.anderson
8     AS01B      ANDERSON                   STEPHEN      stephen.anderson8
9     AJ01C  ANDRADE LAZO              JOSE ARMANDO    joseaal@hotmail.com

  learner_id        last_acces availibilty  c400_wt_ttl   c400_ttl  c400_quiz  \
0        01C   2/12/2024 14:41         Yes     93.83260  870.91200   98.62500
1        01A    4/8/2024 10:31         Yes     94.49828  858.57729   97.12497
2        01A  12/14/2023 10:37         Yes     83.86477  712.62400   81.41088
3        01D    5/18/2024 8:48         Yes     93.59639  823.11800   89.98197
4        01C  11/27/2023 12:38         Yes     92.92385  827.87557   93.07140
5        01B   2/13/2024 20:00         Yes     97.23427  870.63000   97.07137
6        01D    4/5/2024 13:24         Yes     87.90353  747.79600   85.64268
7        01C   5/27/2024 19:54         Yes     92.16247  781.07757   87.21454
8        01B     2/2/2024 9:39         Yes     97.25427  847.17000   94.32137
9        01C    5/8/2024 10:43         Yes     84.20626  809.63600   94.07131

   ...  C404B Quiz (IMS) [Total Pts: 100 Score] |417712  \
0  ...                                              NaN
1  ...                                              NaN
2  ...                                              NaN
3  ...                                          100.000
4  ...                                              NaN
5  ...                                              NaN
6  ...                                              NaN
7  ...                                              NaN
8  ...                                              NaN
9  ...                                           92.857

   C405B Quiz (US) [Total Pts: 100 Score] |417713  \
0                                         100.000
1                                         100.000
2                                         100.000
3                                             NaN
4                                         100.000
5                                         100.000
6                                          92.857
7                                         100.000
8                                          92.857
9                                             NaN

   C405B Quiz (IMS) [Total Pts: 100 Score] |417714  \
0                                              NaN
1                                              NaN
2                                              NaN
3                                            100.0
4                                              NaN
5                                              NaN
6                                              NaN
7                                              NaN
8                                              NaN
9                                            100.0

   C406B Quiz (US) [Total Pts: 100 Score] |417715  \
0                                            87.5
1                                            87.5
2                                            87.5
3                                             NaN
4                                            75.0
5                                           100.0
6                                            62.5
7                                            75.0
8                                           100.0
9                                             NaN

   C406B Quiz (IMS) [Total Pts: 100 Score] |417716  \
0                                              NaN
1                                              NaN
2                                              NaN
3                                            100.0
4                                              NaN
5                                              NaN
6                                              NaN
7                                              NaN
8                                              NaN
9                                            100.0

   C407B Quiz (US) [Total Pts: 100 Score] |417717  \
0                                           100.0
1                                           100.0
2                                            50.0
3                                             NaN
4                                            75.0
5                                           100.0
6                                            87.5
7                                            75.0
8                                            75.0
9                                             NaN

   C407B Quiz (IMS) [Total Pts: 100 Score] |417718  team  section  base_id
0                                              NaN     1        C    AM01C
1                                              NaN     1        A    AJ01A
2                                              NaN     1        A    AK01A
3                                             87.5     1        D    AA01D
4                                              NaN     1        C    AA01C
5                                              NaN     1        B    AA01B
6                                              NaN     1        D    AR01D
7                                              NaN     1        C    AS01C
8                                              NaN     1        B    AS01B
9                                            100.0     1        C    AJ01C

[10 rows x 31 columns]

Processing folder: data\C500
Read C500_SEC01.csv successfully with 59 rows.
Read C500_SEC02.csv successfully with 59 rows.
Read C500_SEC04.csv successfully with 59 rows.
Read C500_SEC05.csv successfully with 59 rows.
Read C500_SEC06.csv successfully with 60 rows.
Read C500_SEC07.csv successfully with 58 rows.
Read C500_SEC08.csv successfully with 59 rows.
Read C500_SEC09.csv successfully with 59 rows.
Read C500_SEC10.csv successfully with 58 rows.
Read C500_SEC11.csv successfully with 59 rows.
Read C500_SEC12.csv successfully with 58 rows.
Read C500_SEC13.csv successfully with 59 rows.
Read C500_SEC14.csv successfully with 59 rows.
Read C500_SEC15.csv successfully with 60 rows.
Read C500_SEC16.csv successfully with 59 rows.
Read C500_SEC17.csv successfully with 59 rows.
Read C500_SEC18.csv successfully with 59 rows.
Read C500_SEC19.csv successfully with 59 rows.
Columns in the concatenated DataFrame: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |415265', 'Total [Total Pts: up to 500 Score] |415266', 'C501B1 MC Test (IMS) [Total Pts: 100 Score] |415280', 'C501B1 MC Test - (US) [Total Pts: 100 Score] |415292', 'C500P1 - C501 Contribution to Group Learning [Total Pts: 100 Score] |415295', 'C500A Elements of Operational Design Exam [Total Pts: 100 Score] |415297', 'C500P2 - C599 JPP Exercise Contribution to Group Learning. [Total Pts: 100 Score] |415298']
Error: 'learner_id' column not found in the DataFrame.
Available columns: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |415265', 'Total [Total Pts: up to 500 Score] |415266', 'C501B1 MC Test (IMS) [Total Pts: 100 Score] |415280', 'C501B1 MC Test - (US) [Total Pts: 100 Score] |415292', 'C500P1 - C501 Contribution to Group Learning [Total Pts: 100 Score] |415295', 'C500A Elements of Operational Design Exam [Total Pts: 100 Score] |415297', 'C500P2 - C599 JPP Exercise Contribution to Group Learning. [Total Pts: 100 Score] |415298']
No data processed for data\C500

Processing folder: data\F100
Read F100_SEC01.csv successfully with 59 rows.
Read F100_SEC02.csv successfully with 59 rows.
Read F100_SEC04.csv successfully with 59 rows.
Read F100_SEC05.csv successfully with 59 rows.
Read F100_SEC06.csv successfully with 60 rows.
Read F100_SEC07.csv successfully with 58 rows.
Warning: F100_SEC08.csv has 15 columns instead of 14.
Columns in F100_SEC08.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |406081', 'Total [Total Pts: up to 699.96 Score] |406082', 'F100A Change proposal written product (50 percent) [Total Pts: 100 Score] |406088', 'F100B Final Exam (IMS) [Total Pts: 100 Score] |406162', 'F100B Final Exam (U.S.) [Total Pts: 100 Score] |406164', 'F103A Azimuth Check 1 (5 percent) [Total Pts: 100 Score] |406166', 'F106A Azimuth Check 2  (5 percent) [Total Pts: 100 Score] |406176', 'F111A Change proposal presentation (15 percent) [Total Pts: 100 Score] |406177', 'F100B FM Model [Total Pts: 99.96 Score] |411714']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'f100_wt_ttl', 'f100_ttl', 'f100_chngprop', 'f100_exam_ims', 'f100_exam_us', 'f100_-azchk1', 'f100_azchk2', 'f100_chngprop_brief']
Read F100_SEC09.csv successfully with 59 rows.
Read F100_SEC10.csv successfully with 58 rows.
Read F100_SEC11.csv successfully with 59 rows.
Read F100_SEC12.csv successfully with 58 rows.
Read F100_SEC13.csv successfully with 59 rows.
Read F100_SEC14.csv successfully with 59 rows.
Read F100_SEC15.csv successfully with 60 rows.
Warning: F100_SEC16.csv has 15 columns instead of 14.

C:\Users\balla\AppData\Local\Temp\ipykernel_16124\2232016110.py:82: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  folder_df['unique_id'] = folder_df.groupby('base_id', group_keys=False).apply(create_unique_id)
C:\Users\balla\AppData\Local\Temp\ipykernel_16124\2232016110.py:82: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  folder_df['unique_id'] = folder_df.groupby('base_id', group_keys=False).apply(create_unique_id)
C:\Users\balla\AppData\Local\Temp\ipykernel_16124\2232016110.py:82: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  folder_df['unique_id'] = folder_df.groupby('base_id', group_keys=False).apply(create_unique_id)
C:\Users\balla\AppData\Local\Temp\ipykernel_16124\2232016110.py:82: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  folder_df['unique_id'] = folder_df.groupby('base_id', group_keys=False).apply(create_unique_id)
C:\Users\balla\AppData\Local\Temp\ipykernel_16124\2232016110.py:82: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  folder_df['unique_id'] = folder_df.groupby('base_id', group_keys=False).apply(create_unique_id)

Data compiled and saved successfully to cleaned_data\F100_compiled_dataframe.csv
Total rows in compiled dataframe: 943

Summary of rows per section:
section
A    252
B    229
C    235
D    227
Name: count, dtype: int64

Sample data with reordered columns:
  unique_id     last_name                first_name               username  \
0     AM01C        ACOSTA                  MITCHELL         mitch.f.acosta
1     AJ01A         ALLEN                    JUSTIN       justin.lee.allen
2     AK01A       ALLISON                     KEVIN        kevin.e.allison
3     AA01D     ALSUWAIDI  AHMED SAIF ABDULLA AHMED   alsuwaidi@hotmail.fr
4     AA01C      ANDERSON                      ALEX        alex.r.anderson
5     AA01B      ANDERSON                   ANTHONY    anthony.s.anderson2
6     AR01D      ANDERSON                    ROBERT  robert.edwin.anderson
7   AS01C_1      ANDERSON                    STACEY      stacey.c.anderson
8     AS01B      ANDERSON                   STEPHEN      stephen.anderson8
9     AJ01C  ANDRADE LAZO              JOSE ARMANDO    joseaal@hotmail.com

  learner_id       last_access availability  f100_wt_ttl   f100_ttl  \
0        01C    4/30/2024 9:11          Yes     97.50000  490.60000
1        01A   1/20/2024 12:04          Yes     98.50000  494.00000
2        01A   11/7/2023 20:43          Yes     92.80036  474.07847
3        01D   12/6/2023 11:55          Yes     90.34290  471.14300
4        01C   4/12/2024 10:36          Yes     94.88640  485.19000
5        01B  11/15/2023 12:24          Yes     98.70000  494.80000
6        01D  12/10/2023 14:55          Yes     88.54500  465.58300
7        01C    4/30/2024 9:45          Yes     97.50000  491.00000
8        01B   1/25/2024 12:23          Yes     99.15000  496.80000
9        01C    4/30/2024 7:53          Yes     95.96050  488.43400

   f100_chngprop  f100_exam_ims  f100_exam_us  f100_-azchk1  f100_azchk2  \
0         99.400            NaN      91.20000         100.0    100.00000
1        100.000            NaN      94.00000         100.0    100.00000
2         93.000            NaN      87.73333         100.0     96.34743
3         87.347           88.0           NaN          97.0    100.00000
4         92.594            NaN      97.00000         100.0    100.00000
5        100.000            NaN      94.80000         100.0    100.00000
6         87.393            NaN      81.20000         100.0    100.00000
7         99.000            NaN      92.00000         100.0    100.00000
8         99.000            NaN      98.80000          99.0    100.00000
9         94.444           96.4           NaN         100.0    100.00000

   f100_chngprop_brief  team section base_id
0            100.00000     1       C   AM01C
1            100.00000     1       A   AJ01A
2             96.99771     1       A   AK01A
3             98.79600     1       D   AA01D
4             95.59600     1       C   AA01C
5            100.00000     1       B   AA01B
6             96.99000     1       D   AR01D
7            100.00000     1       C   AS01C
8            100.00000     1       B   AS01B
9             97.59000     1       C   AJ01C

Processing folder: data\H100
Read H100_SEC01.csv successfully with 59 rows.
Warning: H100_SEC02.csv has 12 columns instead of 11.
Columns in H100_SEC02.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |404659', 'Total [Total Pts: up to 300 Score] |404664', 'H100P Contribution to Learning [Total Pts: 100 Score] |404672', 'H100A1 Writing Requirement- Sentence Outline [Total Pts: 100 Pass/Fail] |404679', 'H100A2 Writing Requirement- Argumentative Essay [Total Pts: 100 Score] |404680', 'Mid Term Class Part. [Total Pts: 100 Letter] |416084']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'h100_wt_ttl', 'h100_ttl', 'h100_ctgl', 'h100_outline', 'h100_essay']
Warning: H100_SEC04.csv has 12 columns instead of 11.
Columns in H100_SEC04.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |404703', 'Total [Total Pts: up to 300 Score] |404708', 'H100P Contribution to Learning [Total Pts: 100 Score] |404716', 'H100A1 Writing Requirement- Sentence Outline [Total Pts: 100 Pass/Fail] |404723', 'H100A2 Writing Requirement- Argumentative Essay [Total Pts: 100 Score] |404724', 'Midterm Contribution to Group Learning [Total Pts: 100 Letter] |420033']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'h100_wt_ttl', 'h100_ttl', 'h100_ctgl', 'h100_outline', 'h100_essay']
Warning: H100_SEC05.csv has 12 columns instead of 11.
Columns in H100_SEC05.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |404725', 'Total [Total Pts: up to 300 Score] |404730', 'H100A2 Writing Requirement- Argumentative Essay [Total Pts: 100 Score] |404746', 'H100P Contribution to Learning [Total Pts: 100 Score] |404738', 'H100A1 Writing Requirement- Sentence Outline [Total Pts: 100 Pass/Fail] |404745', 'CTGL Interim [Total Pts: 100 Percentage] |420203']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'h100_wt_ttl', 'h100_ttl', 'h100_ctgl', 'h100_outline', 'h100_essay']
Warning: H100_SEC06.csv has 12 columns instead of 11.
Columns in H100_SEC06.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |404747', 'Total [Total Pts: up to 300 Score] |404752', 'H100P Contribution to Learning [Total Pts: 100 Score] |404760', 'H100A1 Writing Requirement- Sentence Outline [Total Pts: 100 Pass/Fail] |404767', 'H100A2 Writing Requirement- Argumentative Essay [Total Pts: 100 Score] |404768', 'Mid-Course Grade [Total Pts: 100 Score] |416082']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'h100_wt_ttl', 'h100_ttl', 'h100_ctgl', 'h100_outline', 'h100_essay']
Read H100_SEC07.csv successfully with 58 rows.
Warning: H100_SEC08.csv has 12 columns instead of 11.
Columns in H100_SEC08.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |404791', 'Total [Total Pts: up to 300 Score] |404796', 'H100P Contribution to Learning [Total Pts: 100 Score] |404804', 'H100A1 Writing Requirement- Sentence Outline [Total Pts: 100 Pass/Fail] |404811', 'H100A2 Writing Requirement- Argumentative Essay [Total Pts: 100 Score] |404812', 'Midpoint CTGL Assessment [Total Pts: 0 Score] |416296']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'h100_wt_ttl', 'h100_ttl', 'h100_ctgl', 'h100_outline', 'h100_essay']
Warning: H100_SEC09.csv has 12 columns instead of 11.
Columns in H100_SEC09.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |404813', 'Total [Total Pts: up to 300 Score] |404818', 'H100P Contribution to Learning [Total Pts: 100 Score] |404826', 'H100A1 Writing Requirement- Sentence Outline [Total Pts: 100 Pass/Fail] |404833', 'H100A2 Writing Requirement- Argumentative Essay [Total Pts: 100 Score] |404834', 'Interim Contribution to Learning Grade [Total Pts: 100 Score] |417562']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'h100_wt_ttl', 'h100_ttl', 'h100_ctgl', 'h100_outline', 'h100_essay']
Read H100_SEC10.csv successfully with 58 rows.
Read H100_SEC11.csv successfully with 59 rows.
Read H100_SEC12.csv successfully with 58 rows.
Read H100_SEC13.csv successfully with 59 rows.
Warning: H100_SEC14.csv has 12 columns instead of 11.
Columns in H100_SEC14.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |404923', 'Total [Total Pts: up to 300 Score] |404928', 'H100P Contribution to Learning [Total Pts: 100 Score] |404936', 'H100A1 Writing Requirement- Sentence Outline [Total Pts: 100 Pass/Fail] |404943', 'H100A2 Writing Requirement- Argumentative Essay [Total Pts: 100 Score] |404944', 'Midterm Ballpark CTGL [Total Pts: 100 Letter] |417455']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'h100_wt_ttl', 'h100_ttl', 'h100_ctgl', 'h100_outline', 'h100_essay']
Warning: H100_SEC15.csv has 12 columns instead of 11.
Columns in H100_SEC15.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |404945', 'Total [Total Pts: up to 300 Score] |404950', 'H100P Contribution to Learning [Total Pts: 100 Score] |404958', 'H100A1 Writing Requirement- Sentence Outline [Total Pts: 100 Pass/Fail] |404965', 'H100A2 Writing Requirement- Argumentative Essay [Total Pts: 100 Score] |404966', 'Midterm Ballpark CTGL [Total Pts: 100 Score] |420038']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'h100_wt_ttl', 'h100_ttl', 'h100_ctgl', 'h100_outline', 'h100_essay']
Read H100_SEC16.csv successfully with 59 rows.
Read H100_SEC17.csv successfully with 59 rows.
Read H100_SEC18.csv successfully with 59 rows.
Warning: H100_SEC19.csv has 13 columns instead of 11.
Columns in H100_SEC19.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |405033', 'Total [Total Pts: up to 300 Score] |405038', 'H100P Contribution to Learning [Total Pts: 100 Score] |405046', 'H100A1 Writing Requirement- Sentence Outline [Total Pts: 100 Pass/Fail] |405053', 'H100A2 Writing Requirement- Argumentative Essay [Total Pts: 100 Score] |405054', 'Interim Contribution [Total Pts: up to 0 Percentage] |417456', 'Interim CGL [Total Pts: 100 Score] |417565']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'h100_wt_ttl', 'h100_ttl', 'h100_ctgl', 'h100_outline', 'h100_essay']
Columns in the concatenated DataFrame: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'h100_wt_ttl', 'h100_ttl', 'h100_ctgl', 'h100_outline', 'h100_essay']
Data compiled and saved successfully to cleaned_data\H100_compiled_dataframe.csv
Total rows in compiled dataframe: 528

Summary of rows per section:
section
A    136
B    130
C    131
D    131
Name: count, dtype: int64

Sample data with reordered columns:
  unique_id     last_name                first_name               username  \
0     AM01C        ACOSTA                  MITCHELL         mitch.f.acosta
1     AJ01A         ALLEN                    JUSTIN       justin.lee.allen
2     AK01A       ALLISON                     KEVIN        kevin.e.allison
3     AA01D     ALSUWAIDI  AHMED SAIF ABDULLA AHMED   alsuwaidi@hotmail.fr
4     AA01C      ANDERSON                      ALEX        alex.r.anderson
5     AA01B      ANDERSON                   ANTHONY    anthony.s.anderson2
6     AR01D      ANDERSON                    ROBERT  robert.edwin.anderson
7   AS01C_1      ANDERSON                    STACEY      stacey.c.anderson
8     AS01B      ANDERSON                   STEPHEN      stephen.anderson8
9     AJ01C  ANDRADE LAZO              JOSE ARMANDO    joseaal@hotmail.com

  learner_id       last_access availability  h100_wt_ttl  h100_ttl  h100_ctgl  \
0        01C   2/27/2024 14:44          Yes         95.7     291.0       95.0
1        01A    3/4/2024 19:21          Yes         95.0     290.0       95.0
2        01A    11/8/2023 8:33          Yes         93.6     288.0       95.0
3        01D    4/4/2024 12:55          Yes         94.2     286.0       90.0
4        01C     4/5/2024 8:24          Yes         91.5     285.0       95.0
5        01B   1/20/2024 21:26          Yes         95.0     290.0       95.0
6        01D  12/13/2023 10:37          Yes         93.3     287.0       94.0
7        01C   4/10/2024 12:50          Yes         90.5     283.0       94.0
8        01B   12/6/2023 10:32          Yes         94.3     289.0       95.0
9        01C    4/30/2024 7:54          Yes         93.6     288.0       95.0

  h100_outline  h100_essay  team section base_id
0         Pass        96.0     1       C   AM01C
1         Pass        95.0     1       A   AJ01A
2         Pass        93.0     1       A   AK01A
3         Pass        96.0     1       D   AA01D
4         Pass        90.0     1       C   AA01C
5         Pass        95.0     1       B   AA01B
6         Pass        93.0     1       D   AR01D
7         Pass        89.0     1       C   AS01C
8         Pass        94.0     1       B   AS01B
9         Pass        93.0     1       C   AJ01C

Processing folder: data\H400
Read H400_SEC01.csv successfully with 59 rows.
Warning: H400_SEC02.csv has 12 columns instead of 11.
Columns in H400_SEC02.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |422617', 'Total [Total Pts: up to 300 Score] |422618', 'H400A1 Outline and Annotated Bibliography [Total Pts: 100 Pass/Fail] |422624', 'H400A2 Argumentative Essay [Total Pts: 100 Score] |422625', 'H400P Contribution to Group Learning [Total Pts: 100 Score] |422626', 'interim class participation grade [Total Pts: 100 Score] |428259']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'h400_wt_ttl', 'h400_ttl', 'h400_outline', 'h400_essay', 'h400_ctgl']
Read H400_SEC04.csv successfully with 58 rows.
Warning: H400_SEC05.csv has 12 columns instead of 11.
Columns in H400_SEC05.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |422647', 'Total [Total Pts: up to 300 Score] |422648', 'H400A1 Outline and Annotated Bibliography [Total Pts: 100 Pass/Fail] |422654', 'H400A2 Argumentative Essay [Total Pts: 100 Score] |422655', 'H400P Contribution to Group Learning [Total Pts: 100 Score] |422656', 'Interim CTGL [Total Pts: 100 Percentage] |428274']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'h400_wt_ttl', 'h400_ttl', 'h400_outline', 'h400_essay', 'h400_ctgl']
Warning: H400_SEC06.csv has 12 columns instead of 11.
Columns in H400_SEC06.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |422657', 'Total [Total Pts: up to 400 Score] |422658', 'H400A1 Outline and Annotated Bibliography [Total Pts: 100 Pass/Fail] |422664', 'H400A2 Argumentative Essay [Total Pts: 100 Score] |422665', 'H400P Contribution to Group Learning [Total Pts: 100 Score] |422666', 'Interim Contribution Grade [Total Pts: 100 Score] |428270']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'h400_wt_ttl', 'h400_ttl', 'h400_outline', 'h400_essay', 'h400_ctgl']
Read H400_SEC07.csv successfully with 57 rows.
Read H400_SEC08.csv successfully with 58 rows.
Warning: H400_SEC09.csv has 12 columns instead of 11.
Columns in H400_SEC09.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |422687', 'Total [Total Pts: up to 300 Score] |422688', 'H400A1 Outline and Annotated Bibliography [Total Pts: 100 Pass/Fail] |422694', 'H400A2 Argumentative Essay [Total Pts: 100 Score] |422695', 'H400P Contribution to Group Learning [Total Pts: 100 Score] |422696', 'Interim Contribution to Learning Grade [Total Pts: 100 Score] |427481']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'h400_wt_ttl', 'h400_ttl', 'h400_outline', 'h400_essay', 'h400_ctgl']
Read H400_SEC10.csv successfully with 57 rows.
Read H400_SEC11.csv successfully with 59 rows.
Warning: H400_SEC12.csv has 12 columns instead of 11.
Columns in H400_SEC12.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |422717', 'Total [Total Pts: up to 300 Score] |422718', 'H400A1 Outline and Annotated Bibliography [Total Pts: 100 Pass/Fail] |422724', 'H400A2 Argumentative Essay [Total Pts: 100 Score] |422725', 'H400P Contribution to Group Learning [Total Pts: 100 Score] |422726', 'Interim Contribution to Group Learning [Total Pts: 0 Score] |428253']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'h400_wt_ttl', 'h400_ttl', 'h400_outline', 'h400_essay', 'h400_ctgl']
Read H400_SEC13.csv successfully with 58 rows.
Warning: H400_SEC14.csv has 12 columns instead of 11.
Columns in H400_SEC14.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |422737', 'Total [Total Pts: up to 300 Score] |422738', 'H400A1 Outline and Annotated Bibliography [Total Pts: 100 Pass/Fail] |422744', 'H400A2 Argumentative Essay [Total Pts: 100 Score] |422745', 'H400P Contribution to Group Learning [Total Pts: 100 Score] |422746', 'Interim CTGL [Total Pts: 100 Letter] |427482']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'h400_wt_ttl', 'h400_ttl', 'h400_outline', 'h400_essay', 'h400_ctgl']
Warning: H400_SEC15.csv has 12 columns instead of 11.
Columns in H400_SEC15.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |422747', 'Total [Total Pts: up to 300 Score] |422748', 'H400A1 Outline and Annotated Bibliography [Total Pts: 100 Pass/Fail] |422754', 'H400A2 Argumentative Essay [Total Pts: 100 Score] |422755', 'H400P Contribution to Group Learning [Total Pts: 100 Score] |422756', 'Midpoint CTGL Grades [Total Pts: 100 Score] |428273']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'h400_wt_ttl', 'h400_ttl', 'h400_outline', 'h400_essay', 'h400_ctgl']
Read H400_SEC16.csv successfully with 58 rows.
Read H400_SEC17.csv successfully with 58 rows.
Read H400_SEC18.csv successfully with 57 rows.
Read H400_SEC19.csv successfully with 58 rows.
Columns in the concatenated DataFrame: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'h400_wt_ttl', 'h400_ttl', 'h400_outline', 'h400_essay', 'h400_ctgl']
Data compiled and saved successfully to cleaned_data\H400_compiled_dataframe.csv
Total rows in compiled dataframe: 637

Summary of rows per section:
section
A    157
B    159
C    160
D    161
Name: count, dtype: int64

Sample data with reordered columns:
  unique_id     last_name                first_name               username  \
0     AM01C        ACOSTA                  MITCHELL         mitch.f.acosta
1     AJ01A         ALLEN                    JUSTIN       justin.lee.allen
2     AK01A       ALLISON                     KEVIN        kevin.e.allison
3     AA01D     ALSUWAIDI  AHMED SAIF ABDULLA AHMED   alsuwaidi@hotmail.fr
4     AA01C      ANDERSON                      ALEX        alex.r.anderson
5     AA01B      ANDERSON                   ANTHONY    anthony.s.anderson2
6     AR01D      ANDERSON                    ROBERT  robert.edwin.anderson
7   AS01C_1      ANDERSON                    STACEY      stacey.c.anderson
8     AS01B      ANDERSON                   STEPHEN      stephen.anderson8
9     AJ01C  ANDRADE LAZO              JOSE ARMANDO    joseaal@hotmail.com

  learner_id      last_access availability  h400_wt_ttl  h400_ttl  \
0        01C   3/18/2024 8:14          Yes         95.9     293.0
1        01A  3/18/2024 11:18          Yes         94.0     288.0

C:\Users\balla\AppData\Local\Temp\ipykernel_16124\2232016110.py:82: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  folder_df['unique_id'] = folder_df.groupby('base_id', group_keys=False).apply(create_unique_id)
C:\Users\balla\AppData\Local\Temp\ipykernel_16124\2232016110.py:82: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  folder_df['unique_id'] = folder_df.groupby('base_id', group_keys=False).apply(create_unique_id)
C:\Users\balla\AppData\Local\Temp\ipykernel_16124\2232016110.py:82: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  folder_df['unique_id'] = folder_df.groupby('base_id', group_keys=False).apply(create_unique_id)
C:\Users\balla\AppData\Local\Temp\ipykernel_16124\2232016110.py:82: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  folder_df['unique_id'] = folder_df.groupby('base_id', group_keys=False).apply(create_unique_id)

Data compiled and saved successfully to cleaned_data\M200_compiled_dataframe.csv
Total rows in compiled dataframe: 1041

Summary of rows per section:
section
A    259
B    259
C    264
D    257
Name: count, dtype: int64

Sample data with reordered columns:
  unique_id     last_name                first_name               username  \
0     AM01C        ACOSTA                  MITCHELL         mitch.f.acosta
1     AJ01A         ALLEN                    JUSTIN       justin.lee.allen
2     AK01A       ALLISON                     KEVIN        kevin.e.allison
3     AA01D     ALSUWAIDI  AHMED SAIF ABDULLA AHMED   alsuwaidi@hotmail.fr
4     AA01C      ANDERSON                      ALEX        alex.r.anderson
5     AA01B      ANDERSON                   ANTHONY    anthony.s.anderson2
6     AR01D      ANDERSON                    ROBERT  robert.edwin.anderson
7   AS01C_1      ANDERSON                    STACEY      stacey.c.anderson
8     AS01B      ANDERSON                   STEPHEN      stephen.anderson8
9     AJ01C  ANDRADE LAZO              JOSE ARMANDO    joseaal@hotmail.com

  learner_id      last_access availability  m200_wt_ttl   m200_ttl  \
0        01C   2/26/2024 7:50          Yes     94.45000  285.50000
1        01A  2/17/2024 14:04          Yes     93.70000  283.00000
2        01A  1/31/2024 11:29          Yes     95.09828  284.99429
3        01D  2/26/2024 13:59          Yes     89.10000  269.00000
4        01C   2/26/2024 7:41          Yes     94.25000  283.50000
5        01B    2/9/2024 9:37          Yes     94.14285  189.00000
6        01D  2/22/2024 15:17          Yes     90.00000  272.00000
7        01C  2/22/2024 14:03          Yes     94.49828  282.99429
8        01B    2/2/2024 9:36          Yes     93.28571  187.00000
9        01C  2/22/2024 14:09          Yes     92.59828  277.99429

          m200_ctgl  m200_divmvnt  m200_exam_us  m200_exam_ims  team section  \
0                99          98.5          88.0            NaN     1       C
1               100          95.0          88.0            NaN     1       A
2          93.99429          95.0          96.0            NaN     1       A
3                93          92.0           NaN           84.0     1       D
4                97          94.5          92.0            NaN     1       C
5  Needs Evaluation          97.0          92.0            NaN     1       B
6                94          94.0          84.0            NaN     1       D
7          93.99429          93.0          96.0            NaN     1       C
8  Needs Evaluation          95.0          92.0            NaN     1       B
9          93.99429          92.0           NaN           92.0     1       C

  base_id
0   AM01C
1   AJ01A
2   AK01A
3   AA01D
4   AA01C
5   AA01B
6   AR01D
7   AS01C
8   AS01B
9   AJ01C

Processing folder: data\M300
Read M300_SEC01.csv successfully with 59 rows.
Read M300_SEC02.csv successfully with 55 rows.
Read M300_SEC04.csv successfully with 58 rows.
Read M300_SEC05.csv successfully with 59 rows.
Read M300_SEC06.csv successfully with 58 rows.
Read M300_SEC07.csv successfully with 57 rows.
Read M300_SEC08.csv successfully with 59 rows.
Read M300_SEC09.csv successfully with 57 rows.
Read M300_SEC10.csv successfully with 57 rows.
Read M300_SEC11.csv successfully with 59 rows.
Read M300_SEC12.csv successfully with 58 rows.
Read M300_SEC13.csv successfully with 58 rows.
Read M300_SEC14.csv successfully with 56 rows.
Read M300_SEC15.csv successfully with 59 rows.
Read M300_SEC16.csv successfully with 58 rows.
Read M300_SEC17.csv successfully with 58 rows.
Read M300_SEC18.csv successfully with 57 rows.
Read M300_SEC19.csv successfully with 58 rows.
Columns in the concatenated DataFrame: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'm300_wt_ttl', 'm300_ttl', 'm300_ctgl', 'm300_cdr_int', 'm300_exam_ims', 'm300_exam_us']
Data compiled and saved successfully to cleaned_data\M300_compiled_dataframe.csv
Total rows in compiled dataframe: 1040

Summary of rows per section:
section
A    259
B    259
C    264
D    256
Name: count, dtype: int64

Sample data with reordered columns:
  unique_id     last_name                first_name               username  \
0     AM01C        ACOSTA                  MITCHELL         mitch.f.acosta
1     AJ01A         ALLEN                    JUSTIN       justin.lee.allen
2     AK01A       ALLISON                     KEVIN        kevin.e.allison
3     AA01D     ALSUWAIDI  AHMED SAIF ABDULLA AHMED   alsuwaidi@hotmail.fr
4     AA01C      ANDERSON                      ALEX        alex.r.anderson
5     AA01B      ANDERSON                   ANTHONY    anthony.s.anderson2
6     AR01D      ANDERSON                    ROBERT  robert.edwin.anderson
7   AS01C_1      ANDERSON                    STACEY      stacey.c.anderson
8     AS01B      ANDERSON                   STEPHEN      stephen.anderson8
9     AJ01C  ANDRADE LAZO              JOSE ARMANDO    joseaal@hotmail.com

  learner_id      last_access availability  m300_wt_ttl  m300_ttl  m300_ctgl  \
0        01C   3/8/2024 10:57          Yes       91.604    276.01       94.0
1        01A    3/8/2024 8:34          Yes       94.936    285.34       96.0
2        01A   3/5/2024 14:59          Yes       80.292    247.73       94.0
3        01D    3/8/2024 8:23          Yes       95.028    283.57       92.0
4        01C   2/26/2024 7:43          Yes       80.332    248.83       96.0
5        01B  4/12/2024 12:53          Yes       90.940    275.35       96.0
6        01D   3/1/2024 15:39          Yes       87.036    265.59       96.0
7        01C  2/23/2024 17:07          Yes       82.244    253.11       95.0
8        01B   4/1/2024 20:20          Yes       82.508    254.27       96.0
9        01C   4/1/2024 14:52          Yes       94.536    282.34       92.0

   m300_cdr_int  m300_exam_ims  m300_exam_us  team section base_id
0         92.00            NaN         90.01     1       C   AM01C
1         96.00            NaN         93.34     1       A   AJ01A
2         83.70            NaN         70.03     1       A   AK01A
3         94.90          96.67           NaN     1       D   AA01D
4         82.80            NaN         70.03     1       C   AA01C
5         96.00            NaN         83.35     1       B   AA01B
6         92.90            NaN         76.69     1       D   AR01D
7         84.75            NaN         73.36     1       C   AS01C
8         95.00            NaN         63.27     1       B   AS01B
9         97.00          93.34           NaN     1       C   AJ01C

Processing folder: data\M400
Read M400_SEC01.csv successfully with 60 rows.
Read M400_SEC02.csv successfully with 59 rows.
Read M400_SEC04.csv successfully with 59 rows.
Read M400_SEC05.csv successfully with 59 rows.
Read M400_SEC06.csv successfully with 59 rows.
Read M400_SEC07.csv successfully with 57 rows.
Read M400_SEC08.csv successfully with 61 rows.
Read M400_SEC09.csv successfully with 57 rows.
Read M400_SEC10.csv successfully with 58 rows.
Read M400_SEC11.csv successfully with 59 rows.
Read M400_SEC12.csv successfully with 58 rows.
Read M400_SEC13.csv successfully with 59 rows.
Read M400_SEC14.csv successfully with 59 rows.
Read M400_SEC15.csv successfully with 59 rows.
Read M400_SEC16.csv successfully with 59 rows.
Read M400_SEC17.csv successfully with 59 rows.
Read M400_SEC18.csv successfully with 58 rows.
Read M400_SEC19.csv successfully with 59 rows.
Columns in the concatenated DataFrame: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 'm400_wt_ttl', 'm400_ttl', 'm400_run_est', 'm400_wff_essay', 'm400_ctgl']
Data compiled and saved successfully to cleaned_data\M400_compiled_dataframe.csv
Total rows in compiled dataframe: 1058

Summary of rows per section:
section
A    275
B    259
C    264
D    256
Name: count, dtype: int64

Sample data with reordered columns:
  unique_id     last_name                first_name               username  \
0     AM01C        ACOSTA                  MITCHELL         mitch.f.acosta
1     AJ01A         ALLEN                    JUSTIN       justin.lee.allen
2     AK01A       ALLISON                     KEVIN        kevin.e.allison
3     AA01D     ALSUWAIDI  AHMED SAIF ABDULLA AHMED   alsuwaidi@hotmail.fr
4     AA01C      ANDERSON                      ALEX        alex.r.anderson
5     AA01B      ANDERSON                   ANTHONY    anthony.s.anderson2
6     AR01D      ANDERSON                    ROBERT  robert.edwin.anderson
7   AS01C_1      ANDERSON                    STACEY      stacey.c.anderson
8     AS01B      ANDERSON                   STEPHEN      stephen.anderson8
9     AJ01C  ANDRADE LAZO              JOSE ARMANDO    joseaal@hotmail.com

  learner_id      last_access availability  m400_wt_ttl   m400_ttl  \
0        01C  4/10/2024 11:11          Yes     92.39280  273.97900
1        01A  4/16/2024 20:05          Yes     97.39000  291.97000
2        01A  3/31/2024 19:14          Yes     93.99485  281.98429
3        01D  4/11/2024 19:39          Yes     96.60000  289.00000
4        01C  4/11/2024 10:54          Yes     89.58428  271.95643
5        01B  3/31/2024 23:00          Yes     97.20000  292.00000
6        01D  4/14/2024 19:54          Yes     98.60000  296.00000
7        01C  4/10/2024 10:56          Yes     85.38300  261.95750
8        01B  3/29/2024 21:38          Yes     96.12000  288.30000
9        01C   4/10/2024 8:18          Yes     92.59800  276.49500

  m400_run_est m400_wff_essay m400_ctgl  team section base_id
0        100.0         87.985    85.994     1       C   AM01C
1        100.0          94.98     96.99     1       A   AJ01A
2         91.0          96.99  93.99429     1       A   AK01A
3         98.0           96.0      95.0     1       D   AA01D
4        91.48         84.485  95.99143     1       C   AA01C
5         96.0           98.0      98.0     1       B   AA01B
6         99.0           98.0      99.0     1       D   AR01D
7        83.99        80.9675      97.0     1       C   AS01C
8         94.8           97.5      96.0     1       B   AS01B
9         95.0         91.495      90.0     1       C   AJ01C

Processing folder: data\S100
Read S100_SEC01.csv successfully with 59 rows.
Warning: S100_SEC02.csv has 18 columns instead of 19.
Columns in S100_SEC02.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |408029', 'Total [Total Pts: up to 946 Score] |408030', 'Joint Log Planning Worksheet [Total Pts: 100 Score] |408032', 'S400 Practical Exercise [Total Pts: 100 Score] |408040', 'S100B1 Exam Number 1 (US STUDENTS) [Total Pts: 104 Score] |408044', 'S100B2 Exam Number 2 (INTERNATIONAL STUDENTS) [Total Pts: 110 Score] |408046', 'S100A1 Principles of Sustainment Info Paper [Total Pts: 100 Score] |408047', 'S100B1 Exam #1 (US) [Total Pts: 100 Score] |408050', 'S100B1 Exam #1 (IMS) [Total Pts: 100 Score] |408051', 'S100B2 Exam #2 (US) [Total Pts: 100 Score] |408052', 'S100B2 Exam #2 (IMS) [Total Pts: 100 Score] |408053', 'OCS Check on Learning [Total Pts: 32 Score] |408054']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 's100_wt_ttl', 's100_ttl', 'Joint Log Planning Worksheet [Total Pts: 100 Score] |408006', 'S400 Practical Exercise [Total Pts: 100 Score] |408014', 'S100B1 Exam Number 1 (US STUDENTS) [Total Pts: 104 Score] |408018', 'S100B2 Exam Number 2 (INTERNATIONAL STUDENTS) [Total Pts: 110 Score] |408020', 'S100A1 Principles of Sustainment Info Paper [Total Pts: 100 Score] |408021', 'S100B1 Exam #1 (US) [Total Pts: 100 Score] |408024', 'S100B1 Exam #1 (IMS) [Total Pts: 100 Score] |408025', 'S100B2 Exam #2 (US) [Total Pts: 100 Score] |408026', 'S100B2 Exam #2 (IMS) [Total Pts: 100 Score] |408027', 'OCS Check on Learning [Total Pts: 32 Score] |408028', 'S100B1 Exam Number 1 (US STUDENTS) [Total Pts: 104 Score] |420043']
Warning: S100_SEC04.csv has 18 columns instead of 19.
Columns in S100_SEC04.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |408081', 'Total [Total Pts: up to 946 Score] |408082', 'Joint Log Planning Worksheet [Total Pts: 100 Score] |408084', 'S400 Practical Exercise [Total Pts: 100 Score] |408092', 'S100B1 Exam Number 1 (US STUDENTS) [Total Pts: 104 Score] |408096', 'S100B2 Exam Number 2 (INTERNATIONAL STUDENTS) [Total Pts: 110 Score] |408098', 'S100A1 Principles of Sustainment Info Paper [Total Pts: 100 Score] |408099', 'S100B1 Exam #1 (US) [Total Pts: 100 Score] |408102', 'S100B1 Exam #1 (IMS) [Total Pts: 100 Score] |408103', 'S100B2 Exam #2 (US) [Total Pts: 100 Score] |408104', 'S100B2 Exam #2 (IMS) [Total Pts: 100 Score] |408105', 'OCS Check on Learning [Total Pts: 32 Score] |408106']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 's100_wt_ttl', 's100_ttl', 'Joint Log Planning Worksheet [Total Pts: 100 Score] |408006', 'S400 Practical Exercise [Total Pts: 100 Score] |408014', 'S100B1 Exam Number 1 (US STUDENTS) [Total Pts: 104 Score] |408018', 'S100B2 Exam Number 2 (INTERNATIONAL STUDENTS) [Total Pts: 110 Score] |408020', 'S100A1 Principles of Sustainment Info Paper [Total Pts: 100 Score] |408021', 'S100B1 Exam #1 (US) [Total Pts: 100 Score] |408024', 'S100B1 Exam #1 (IMS) [Total Pts: 100 Score] |408025', 'S100B2 Exam #2 (US) [Total Pts: 100 Score] |408026', 'S100B2 Exam #2 (IMS) [Total Pts: 100 Score] |408027', 'OCS Check on Learning [Total Pts: 32 Score] |408028', 'S100B1 Exam Number 1 (US STUDENTS) [Total Pts: 104 Score] |420043']
Warning: S100_SEC05.csv has 18 columns instead of 19.
Columns in S100_SEC05.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |408107', 'Total [Total Pts: up to 946 Score] |408108', 'Joint Log Planning Worksheet [Total Pts: 100 Score] |408110', 'S400 Practical Exercise [Total Pts: 100 Score] |408118', 'S100B1 Exam Number 1 (US STUDENTS) [Total Pts: 104 Score] |408123', 'S100B2 Exam Number 2 (INTERNATIONAL STUDENTS) [Total Pts: 110 Score] |408125', 'S100A1 Principles of Sustainment Info Paper [Total Pts: 100 Score] |408126', 'S100B1 Exam #1 (US) [Total Pts: 100 Score] |408131', 'S100B1 Exam #1 (IMS) [Total Pts: 100 Score] |408133', 'S100B2 Exam #2 (US) [Total Pts: 100 Score] |408135', 'S100B2 Exam #2 (IMS) [Total Pts: 100 Score] |408137', 'OCS Check on Learning [Total Pts: 32 Score] |408139']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 's100_wt_ttl', 's100_ttl', 'Joint Log Planning Worksheet [Total Pts: 100 Score] |408006', 'S400 Practical Exercise [Total Pts: 100 Score] |408014', 'S100B1 Exam Number 1 (US STUDENTS) [Total Pts: 104 Score] |408018', 'S100B2 Exam Number 2 (INTERNATIONAL STUDENTS) [Total Pts: 110 Score] |408020', 'S100A1 Principles of Sustainment Info Paper [Total Pts: 100 Score] |408021', 'S100B1 Exam #1 (US) [Total Pts: 100 Score] |408024', 'S100B1 Exam #1 (IMS) [Total Pts: 100 Score] |408025', 'S100B2 Exam #2 (US) [Total Pts: 100 Score] |408026', 'S100B2 Exam #2 (IMS) [Total Pts: 100 Score] |408027', 'OCS Check on Learning [Total Pts: 32 Score] |408028', 'S100B1 Exam Number 1 (US STUDENTS) [Total Pts: 104 Score] |420043']
Warning: S100_SEC06.csv has 18 columns instead of 19.
Columns in S100_SEC06.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |408122', 'Total [Total Pts: up to 946 Score] |408127', 'Joint Log Planning Worksheet [Total Pts: 100 Score] |408132', 'S400 Practical Exercise [Total Pts: 100 Score] |408144', 'S100B1 Exam Number 1 (US STUDENTS) [Total Pts: 104 Score] |408148', 'S100B2 Exam Number 2 (INTERNATIONAL STUDENTS) [Total Pts: 110 Score] |408150', 'S100A1 Principles of Sustainment Info Paper [Total Pts: 100 Score] |408151', 'S100B1 Exam #1 (US) [Total Pts: 100 Score] |408154', 'S100B1 Exam #1 (IMS) [Total Pts: 100 Score] |408155', 'S100B2 Exam #2 (US) [Total Pts: 100 Score] |408156', 'S100B2 Exam #2 (IMS) [Total Pts: 100 Score] |408157', 'OCS Check on Learning [Total Pts: 32 Score] |408158']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 's100_wt_ttl', 's100_ttl', 'Joint Log Planning Worksheet [Total Pts: 100 Score] |408006', 'S400 Practical Exercise [Total Pts: 100 Score] |408014', 'S100B1 Exam Number 1 (US STUDENTS) [Total Pts: 104 Score] |408018', 'S100B2 Exam Number 2 (INTERNATIONAL STUDENTS) [Total Pts: 110 Score] |408020', 'S100A1 Principles of Sustainment Info Paper [Total Pts: 100 Score] |408021', 'S100B1 Exam #1 (US) [Total Pts: 100 Score] |408024', 'S100B1 Exam #1 (IMS) [Total Pts: 100 Score] |408025', 'S100B2 Exam #2 (US) [Total Pts: 100 Score] |408026', 'S100B2 Exam #2 (IMS) [Total Pts: 100 Score] |408027', 'OCS Check on Learning [Total Pts: 32 Score] |408028', 'S100B1 Exam Number 1 (US STUDENTS) [Total Pts: 104 Score] |420043']
Warning: S100_SEC07.csv has 18 columns instead of 19.
Columns in S100_SEC07.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |408159', 'Total [Total Pts: up to 946 Score] |408160', 'Joint Log Planning Worksheet [Total Pts: 100 Score] |408162', 'S400 Practical Exercise [Total Pts: 100 Score] |408170', 'S100B1 Exam Number 1 (US STUDENTS) [Total Pts: 104 Score] |408174', 'S100B2 Exam Number 2 (INTERNATIONAL STUDENTS) [Total Pts: 110 Score] |408176', 'S100A1 Principles of Sustainment Info Paper [Total Pts: 100 Score] |408177', 'S100B1 Exam #1 (US) [Total Pts: 100 Score] |408180', 'S100B1 Exam #1 (IMS) [Total Pts: 100 Score] |408181', 'S100B2 Exam #2 (US) [Total Pts: 100 Score] |408182', 'S100B2 Exam #2 (IMS) [Total Pts: 100 Score] |408183', 'OCS Check on Learning [Total Pts: 32 Score] |408184']
Expected columns: ['last_name', 'first_name', 'username', 'learner_id', 'last_access', 'availability', 's100_wt_ttl', 's100_ttl', 'Joint Log Planning Worksheet [Total Pts: 100 Score] |408006', 'S400 Practical Exercise [Total Pts: 100 Score] |408014', 'S100B1 Exam Number 1 (US STUDENTS) [Total Pts: 104 Score] |408018', 'S100B2 Exam Number 2 (INTERNATIONAL STUDENTS) [Total Pts: 110 Score] |408020', 'S100A1 Principles of Sustainment Info Paper [Total Pts: 100 Score] |408021', 'S100B1 Exam #1 (US) [Total Pts: 100 Score] |408024', 'S100B1 Exam #1 (IMS) [Total Pts: 100 Score] |408025', 'S100B2 Exam #2 (US) [Total Pts: 100 Score] |408026', 'S100B2 Exam #2 (IMS) [Total Pts: 100 Score] |408027', 'OCS Check on Learning [Total Pts: 32 Score] |408028', 'S100B1 Exam Number 1 (US STUDENTS) [Total Pts: 104 Score] |420043']
Warning: S100_SEC08.csv has 18 columns instead of 19.
Columns in S100_SEC08.csv: ['Last Name', 'First Name', 'Username', 'Learner ID', 'Last Access', 'Availability', 'Weighted Total [Total Pts: up to 100 Percentage] |408185', 'Total [Total Pts: up to 945 Score] |408186', 'Joint Log Planning Worksheet [Total Pts: 100 Score] |408188', 'S400 Practical Exercise [Total Pts: 100 Score] |408196', 'S100B1 Exam Number 1 (US STUDENTS) [Total Pts: 104 Score] |408200', 'S100B2 Exam Number 2 (INTERNATIONAL STUDENTS) [Total Pts: 110 Score] |408202', 'S100A1 Principles of Sustainment Info Paper [Total Pts: 100 Score] |408203', 'S100B1 Exam #1 (US) [Total Pts: 100 Score] |408206', 'S100B1 Exam #1 (IMS) [Total Pts: 100 Score] |408207', 'S100B2 Exam #2 (US) [Total Pts: 100 Score] |408208', 'S100B2 Exam #2 (IMS) [Total Pts: 100 Score] |408209', 'OCS Check on Learning [Total Pts: 31 Score] |408210']

C:\Users\balla\AppData\Local\Temp\ipykernel_16124\2232016110.py:82: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  folder_df['unique_id'] = folder_df.groupby('base_id', group_keys=False).apply(create_unique_id)
C:\Users\balla\AppData\Local\Temp\ipykernel_16124\2232016110.py:82: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  folder_df['unique_id'] = folder_df.groupby('base_id', group_keys=False).apply(create_unique_id)